@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_bg: #66717f;
  --main_bg: #ffffff;
  --page_bg: #ddd;
  --rounded_bg: #9b34eb;
  --red_bg: #fc0202;
  --opacity_bg: rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--main_bg);
}
.dark {
  --main_bg: #212121;
  --primary_bg: #fff;
  --page_bg: #b9b1b1;
  --opacity_bg: rgba(0, 0, 0, 0.5);
}
@font-face {
  font-family: "Gilroy-Black";
  src: url(../src/assets/Fonts/Gilroy-Black.ttf);
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(../src/assets/Fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url(../src/assets/Fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../src/assets/Fonts/Gilroy-Medium.ttf);
}

/* background modal post */

.bgPost {
  width: 100%;
  height: 200px;
  background-size: cover;
}
.bgPost textarea {
  color: #fff;
  height: 100%;
  line-height: 28px;
  padding: 0px 20px 0px 20px;
  text-align: center;
}
.bgPost textarea::placeholder {
  color: #ddd;
}

/* modal no scroll */

.no-scroll {
  overflow: hidden !important;
}
.croper .reactEasyCrop_Container img {
  width: 100%;
  object-fit: contain;
}
.croper .reactEasyCrop_CropAreaGrid {
  width: 250px !important;
  height: 250px !important;
  color: rgba(255, 255, 255, 0.7) !important;
}
.croper_cover .reactEasyCrop_Container img {
  width: 100%;
  object-fit: cover;
}
/* .croper_cover .reactEasyCrop_CropAreaGrid {
  width: 100% !important;
  height: 100% !important;
  color: rgba(255, 255, 255, 0.7) !important;
} */

.coustom_range[type="range"] {
  appearance: none;
  background-color: #9b34eb;
  height: 4px;
  border-radius: 10px;
}
/* .coustom_range[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: #fc0202;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  outline: none;
} */
/* profile scroll fixed */
.scrollFixed .profileLeft {
  position: fixed;
  width: 512px;
  z-index: 1;
}
.scrollFixed .profileRight {
  width: 768px;
  margin-left: 528px;
}
.showless .profileLeft {
  bottom: 10px;
}
.showmore .profileLeft {
  bottom: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .scrollFixed .profileLeft {
    position: fixed;
    width: 285.43px;
  }
  .scrollFixed .profileRight {
    width: 428.16px;
    margin-left: 302px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .scrollFixed .profileLeft {
    position: fixed;
    width: 370.56px;
  }
  .scrollFixed .profileRight {
    width: 555.83px;
    margin-left: 387px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .scrollFixed .profileLeft {
    position: fixed;
    width: 377.6px;
  }
  .scrollFixed .profileRight {
    width: 566.4px;
    margin-left: 393px;
  }
}
@media (min-width: 1400px) and (max-width: 1619px) {
  .scrollFixed .profileLeft {
    position: fixed;
    width: 441.6px;
  }
  .scrollFixed .profileRight {
    width: 662.4px;
    margin-left: 455px;
  }
}
